* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-family: viga;
}
body {
    background-color: #f1f1f1;
    /* background-image: url(assets/banner-right.svg);
    background-repeat: no-repeat;
    background-position: right;
    background-size: 50%;
    background-attachment: fixed; */
}
.right-img {
    height: 100%;
}
main {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    height: 90vh;
    width: 100%;
}
form {
    background-color: transparent;
    backdrop-filter: blur(5px);
    padding: 20px;
    width: 400px;
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    border-radius: 15px;
}
input {
    height: 45px;
    padding-left: 12px;
    border-radius: 5px;
    border: 1px solid #ccc;
    outline: none;
    font-family: viga;
    font-size: 16px;
}
button {
    background-color: #7500db;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
    border: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 45px;
    font-family: viga;
    font-size: 16px;
    border-radius: 5px;
    transition: 0.3s;
    padding: 15px;
}
button:hover {
    background-color: #5f00b8;
}
a {
    text-align: center;
    text-decoration: none;
    color: #7500db;
    font-weight: bold;
    font-size: 14px;
    cursor: pointer;
}
a:hover {
    text-decoration: underline;
}
p {
    text-align: center;
    font-size: 14px;
    color: #000;
    font-weight: bold;
}
h1 {
    text-align: center;
    font-size: 34px;
    color: #7500db;
    font-weight: bold;
}
.title-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: rgb(49, 36, 52);
    border-radius: 15px;
    margin: 7px;
}
@keyframes twitch-one {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(50vw);
    }
}
@keyframes twitch-two {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-40vw);
    }
}
@keyframes twitch-three {
    0% {
        transform: translateX(-40vw);
    }
    100% {
        transform: translateX(0px);
    }
}
#login {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#right {
    z-index: -1;
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
#register {
    animation-duration: 1s;
    animation-timing-function: linear;
    animation-fill-mode: forwards;
}
@media screen and (max-width: 1100px) {
    @keyframes twitch-one {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(55vw);
        }
    }
    @keyframes twitch-two {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-40vw);
        }
    }
    @keyframes twitch-three {
        0% {
            transform: translateX(-40vw);
        }
        100% {
            transform: translateX(0px);
        }
    }
}
@media screen and (max-width: 1000px) {
    @keyframes twitch-one {
        0% {
            transform: translateX(0px);
        }
    }
    @keyframes twitch-two {
        0% {
            transform: translateX(0px);
        }
    }
    @keyframes twitch-three {
        0% {
            transform: translateX(0vw);
        }
    }
    form {
        min-width: 400px;
    }
    main {
        justify-content: flex-start;
        padding: 20px;
    }
    #right {
        position: absolute;
        right: 0;
    }
    
}
@media screen and (max-width: 750px) {
    @keyframes twitch-one {
        0% {
            transform: translateX(0px);
        }
    }
    @keyframes twitch-two {
        0% {
            transform: translateX(0px);
        }
    }
    @keyframes twitch-three {
        0% {
            transform: translateX(0vw);
        }
    }
    main {
        justify-content: center;
        padding: 20px;
    }
    #right {
        display: none;
    }
}
@media screen and (max-width: 420px) {
    form {
        min-width: 300px;
    }
}